services:
  sonarr:
    image: linuxserver/sonarr:latest
    container_name: sonarr
    volumes:
      - ${ROOT_DIR}/Sonarr/config:/config
      - ${ROOT_DIR}/Sonarr/TV:/media/tv
      - ${ROOT_DIR}/Downloads:/downloads   # Unified downloads folder
    ports:
      - 8989:8989
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
    restart: unless-stopped

  radarr:
    image: linuxserver/radarr:latest
    container_name: radarr
    volumes:
      - ${ROOT_DIR}/Radarr/config:/config
      - ${ROOT_DIR}/Radarr/Movies:/media/movies
      - ${ROOT_DIR}/Downloads:/downloads   # Unified downloads folder
    ports:
      - 7878:7878
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
    restart: unless-stopped

  transmission:
    image: lscr.io/linuxserver/transmission:latest
    container_name: transmission
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
    volumes:
      - ${ROOT_DIR}/Transmission/config:/config
      - ${ROOT_DIR}/Downloads:/downloads    # Unified downloads folder
    ports:
      - 9091:9091
      - 51413:51413
      - 51413:51413/udp
    restart: unless-stopped

  jellyfin:
    image: jellyfin/jellyfin:latest
    container_name: jellyfin
    volumes:
      - ${ROOT_DIR}/Radarr/Movies:/media/movies
      - ${ROOT_DIR}/Sonarr/TV:/media/tv
      - ${ROOT_DIR}/Jellyfin/config:/config
      - ${ROOT_DIR}/Jellyfin/cache:/cache
      - /dev/bus/usb:/dev/bus/usb
    ports:
      - 8096:8096
    devices:
      - /dev/dri:/dev/dri
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
    restart: unless-stopped

  prowlarr:
    image: lscr.io/linuxserver/prowlarr:latest
    container_name: prowlarr
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
    volumes:
      - ${ROOT_DIR}/Prowlarr/config:/config
    ports:
      - 9696:9696
    restart: unless-stopped

  jellyseerr:
    image: fallenbagel/jellyseerr:latest
    container_name: jellyseerr
    environment:
      - LOG_LEVEL=debug
      - TZ=${TZ}
      - PORT=5055 #optional
    ports:
      - 5055:5055
    volumes:
      - ${ROOT_DIR}/Jellyseerr/config:/app/config
    restart: unless-stopped

  nginx-reverseproxy-manager:
    image: 'jc21/nginx-proxy-manager:latest'
    container_name: nginx-reverseproxy-manager
    restart: unless-stopped
    ports: 
      # These ports are in format <host-port>:<container-port>
      - '6666:80' # Public HTTP Port
      - '443:443' # Public HTTPS Port
      - '81:81' # Admin Web Port

    volumes:
      - ${ROOT_DIR}/Nginx/data:/data
      - ${ROOT_DIR}/Nginx/letsencrypt:/etc/letsencrypt

  actual_server:
    image: docker.io/actualbudget/actual-server:latest
    container_name: actual_server
    ports:
      - '5006:5006'
    volumes:
      - ${ROOT_DIR}/Actual:/data
    restart: unless-stopped

  watchtower:
    image: containrrr/watchtower
    container_name: watchtower
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
    - TZ=${TZ}
    - WATCHTOWER_DEBUG=true
    - WATCHTOWER_NOTIFICATIONS_LEVEL=debug
    - WATCHTOWER_CLEANUP=true
    - WATCHTOWER_INCLUDE_STOPPED=true
    - WATCHTOWER_POLL_INTERVAL=86400
    - WATCHTOWER_NO_PULL=false
    - WATCHTOWER_MONITOR_ONLY=false
    restart: unless-stopped

  homeassistant:
    container_name: homeassistant
    image: "ghcr.io/home-assistant/home-assistant:stable"
    volumes:
      - ${ROOT_DIR}/HomeAssistant/config:/config
      - /etc/localtime:/etc/localtime:ro
      - /run/dbus:/run/dbus:ro
    restart: unless-stopped
    privileged: true
    network_mode: host
    environment:
      - TZ=${TZ}

  yacht:
    container_name: yacht
    restart: unless-stopped
    ports:
      - "8000:8000"
    volumes:
      - ${ROOT_DIR}/Yacht:/config
      - /var/run/docker.sock:/var/run/docker.sock
    image: selfhostedpro/yacht
