[Unit]
Description=Cloud Homeserver Docker Compose
Requires=docker.service
After=docker.service network-online.target
RequiresMountsFor=/mnt/drive

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=/home/olaralex/Documents/GitHub/cloud-homeserver
ExecStart=/usr/bin/docker compose up -d --remove-orphans
ExecStop=/usr/bin/docker compose stop

[Install]
WantedBy=multi-user.target
