[Unit]
Description=Cloud Homeserver Docker Compose
Requires=docker.service
After=docker.service network-online.target
RequiresMountsFor=/mnt/drive

[Service]
Type=oneshot
RemainAfterExit=yes
Restart=on-failure
RestartSec=30
WorkingDirectory=/home/olaralex/Documents/GitHub/cloud-homeserver
ExecStart=/home/olaralex/Documents/GitHub/cloud-homeserver/scripts/start_stack.sh
ExecStop=/usr/bin/docker compose stop

[Install]
WantedBy=multi-user.target